@import '../../../../resources/lib/ooui/wikimedia-ui-base';

// Represents our separator here
.mw-structurednav-group-content-item:not( :last-child ):after {
	content: '@{msg-structurednavigation-separator-symbol}';
	color: @wmui-color-base70;
	padding: 0 .5em;
}
