// Extra class in the selector to override specificity rule
.oo-ui-actionFieldLayout {
	&.mw-structurednav-copyEmbedWidget {
		max-width: 30em;
	}
}

// Normal styles
.mw-structurednav-copyEmbedWidget {
	.oo-ui-textInputWidget .oo-ui-inputWidget-input {
		font-size: 14px;
		font-family: monospace;
	}
}
